<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Tipo de Conexão-->
  <serverType typeName="MSSQL" />
  <defaultConnection name="ITS" />
  <connectionStrings>
    <!--Azure Database to Developer-->
    <connection name="ITS" serverName="itsolution-sql.database.windows.net" database="dbBalcao_DEV" user="itsadmin" password="aXRzMTIzNDUl" security="false" />
    <!--Azure Database to Developer-->
    <connection name="Dev" serverName="(local)" database="dbBalcao_DEV" security="true" />
  </connectionStrings>
</configuration>