@{
    ViewBag.Title = "About";
}

<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        @ViewBag.Message <br>
                        Use this area to provide additional information.

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


